@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER SECTION */
.nav {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-info {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.nav-info a {
    color: black;
}

.nav-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-logo img {
    width: 270px;
}

.nav-logo p {
    letter-spacing: 8px;
    font-size: 28px;
    font-weight: bold;
}

.nav-logo p span:last-child {
    color: red;
}

.nav-logo i {
    font-size: 28px;
}

.working-time {
    display: none;
}

.nav-info div {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.nav-info div p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
}

.nav-info div p i {
    color: red;
    font-size: 14px;
    margin-right: 5px;
}

/* HERO SECTION */
.hero-container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-info {
    margin-bottom: 4rem;
}

.hero-heading {
    width: 100%;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
}

.hero-text {
    width: 100%;
    font-size: 18px;
}

/* CONTACT SECTION */
.contact-section {
    padding: 50px 0;
    background: rgba(128, 128, 128, 0.162);
}

.contact-list {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.contact-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
}

.contact-link__img {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.instagram:hover .contact-link__img {
    background: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
}

.instagram:hover .contact-link__text {
    color: #DB2A84;
}

.facebook:hover .contact-link__img {
    background: #0B84EE;
}

.facebook:hover .contact-link__text {
    color: #0B84EE;
}

.telegram:hover .contact-link__img {
    background: #27A6E5;
}

.telegram:hover .contact-link__text {
    color: #27A6E5;
}

.youtube:hover .contact-link__img {
    background: #F40000;
}

.youtube:hover .contact-link__text {
    color: #F40000;
}


/* LOCATION SECTION */
.location-container {
    padding: 60px 0 100px;
}

.location-heading {
    margin-bottom: 60px;
    text-align: center;
    font-size: 36px;
}

.location-list {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
}

.location-item {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 25%;
}

.location {
    font-weight: bold;
}

.circle {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.location-icon {
    display: block;
    font-size: 32px;
    color: red;
}

.location-item p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
}

.branch {
    margin-bottom: 24px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.branch.location {

    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
}

.branch span {
    display: block;
}

.phone-wrapper i {
    color: green;
}

.phone-wrapper a {
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
}

.location-link {
    margin-top: 24px;
    display: block;
    color: red;
    border-bottom: 1px dashed red;
}

@media (max-width: 768px) {
    .nav {
        justify-content: center;
        flex-wrap: wrap;
    }

    .nav-info {
        flex-direction: column;
        align-items: flex-end;
    }

    .nav-logo p {
        font-size: 28px;
    }

    .nav-logo i {
        font-size: 28px;
    }

    .nav-info div p {
        flex-wrap: wrap;
        font-size: 12px;
    }

    .nav-info p:first-child {
        display: none;
    }

    .working-time {
        display: inline-block;
        margin-right: 8px;
    }

    .hero-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }

    .hero-heading {
        font-size: 32px;
    }

    .hero-text {
        font-size: 12px;
    }

    .hero-image {
        width: 100%;
    }

    .hero-image img {
        width: 100%;
    }

    .contact-list {
        flex-wrap: wrap;
    }

    .contact-list li {
        margin-bottom: 12px;
    }

    .contact-link {
        font-size: 32px;
    }

    .contact-link i {
        margin-right: 5px;
        font-size: 32px;
    }

    .location-item {
        width: 50%;
    }
}

@media (max-width: 400px) {
    .location-item {
        width: 100%;
    }

    .contact-item {
        width: 50% !important;
    }

    .contact-link__text {
        font-size: 1rem;
    }
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav-info {
        width: 50% !important;
        align-items: center;
    }

    .nav-logo {
        width: 50%;
    }

    .nav-logo img {
        width: 100%;
    }

    .hero-heading {
        font-size: 22px;
    }

    .hero-text {
        font-size: 12px;
    }

    .contact-link {
        font-size: 24px;
    }

    .contact-link i {
        margin-right: 3px;
        font-size: 24px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .contact-list .contact-item {
        width: 50%;
    }

    .hero-heading {
        font-size: 22px !important;
        line-height: 40px !important;
    }

    .hero-container {
        align-items: center;
    }

    .hero-info {
        width: 100% !important;
    }

    .hero-image {
        width: 100% !important;
    }
}

@media only screen and (max-width: 1200px) {
    .hero-heading {
        font-size: 45px;
        line-height: 60px;
    }

    .nav-info {
        width: 50%;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1600px) {
    .hero-info {
        width: 60%;
    }

    .hero-image {
        width: 40%;
    }

    .hero-image img {
        width: 100%;
    }
}